@media(max-width:2000px){

}
@media(max-width:1600px){

}
@media(max-width:1400px){

}
@media(max-width:1200px){

}
@media(max-width:1024px){

}
@media(max-width:991px){
    .reset-pg header .screen-nav{
        display: block !important
    }
    .login-register-pg .top-sec:before{
        left: 50%;
        transform: translate(-50%)
    }
    .login-register-pg .bottom-sec{
        position: static;
        left: unset;
        margin-bottom: 20px;
    }
    .login-register-pg main{
            position: relative;
    width: 560px;
    border-radius: 30px;
    margin: 40px auto 40px auto;
    }
/*
    .mobile-bg-video{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        padding-left: 0 !important
    }
    .mobile-bg-video video{
        width: 100%;
        height: 100%;
        padding-left: 0 !important;
        object-fit: fill
    }
*/
    .login-register-pg .form-container{
        width: 100%;
        background: #ffffffc9;
        display: block;
        position: relative;
        padding-left: 0 !important;
        padding: 20px 0;
        border-radius: 30px


    }
    .login-register-pg header{
        z-index: 1
    }
    .screen-nav{
        display: none;
    }
    .mobile-nav{
        display: block !important
    }
    .filter-pg main .s-input:nth-child(1){
        margin-bottom: 20px
    }
    .filter-pg main .s-input.text-right {
        text-align: left !important
    }
    .filter-pg main .s-input button{
        height: 55px;
        line-height: 55px;
        text-align: center
    }
    .login-register-pg .col-lg-5{
        display: none
    }
    .login-register-pg .top-sec:after{
        width: 100%
    }

    .login-register-pg .top-sec .sign-options a{
        margin: auto;
    }
    .login-register-pg .sign-options .col-lg-6:nth-child(1){
        margin-bottom: 20px
    }
    .login-register-pg .mid-sec form .reg-inp input:not([type="checkbox"]){
        width: 100%
    }
    .login-register-pg .mid-sec form .s-input .password a{
        right: 20px
    }
    .login-register-pg .bottom-sec .proceed{
        width: 100%;
        margin-top: 20px
    }

    .login-register-pg .top-sec .sign-options a,
    .login-register-pg .bottom-sec .proceed{
        border: none !important
    }
        .filter-pg main .top-desc p{
        width: 100%
    }
    .congrats-pg .congrats-container p{
        padding: 0
    }
    .filter-pg main .select2-container--default .select2-selection--single .select2-selection__rendered{
        overflow: hidden
    }

    .home-pg .hero img.poster, .home-pg .hero video{
        height: 300px
    }
    .home-pg .what-to-do{
        margin-top: 200px
    }
    .home-pg .hero .right-sec{
        margin-top: 30px;
        margin-left: 50px
    }
    .home-pg .app .text-sec{
        padding: 20px 50px;
    }
    .home-pg .app .img-sec{
text-align: center}
    .home-pg .apply-host .right-sec a{
        margin: 0;
    }
    .home-pg .apply-host .right-sec p{
        width: unset;
        margin-bottom: 10px
    }
    .home-pg .apply-host .text-sec,
    .home-pg .apply-host .right-sec{
padding: 0}
    .home-pg .apply-host{
        padding: 40px
    }
    .home-pg .apply-host .text-sec h1{
        margin-bottom: 20px
    }
    footer.main-footer .box{
        width: 100%;
        margin-bottom: 30px
    }
    footer.main-footer .logo-sec{
        text-align: left;
        margin-bottom: 30px
    }
    .home-pg .hero{
        padding-top: 130px
    }
    header.logged .logged-name{
        margin-top: 15px
    }
    .profile-pg .top-sec, .profile-pg .middle-sec, .profile-pg .bottom-sec{
        padding-right: 0
    }
    .profile-pg .earn-sec .earn-container .pic{
        width: 400px;
        margin: 40px auto
    }
    .profile-pg .profile-sec .earn-sec{
        margin-top: 40px
    }
    .profile-pg .set-country .select2-container{
        margin-bottom: 15px
    }
    .profile-pg .set-country .location a.allow{
        margin-bottom: 15px
    }
    .profile-pg .profile-sec .earn-sec .earn-footer img{
        width: 100%
    }
    .exp-pg .exp-sec .videos .pic{
        margin-bottom: 30px
    }
    .exp-pg .exp-sec .our-gallery{
        width: 100%
    }
    .exp-pg .videos,
.exp-pg .info,
.exp-pg .exp-desc,
.exp-pg .steps,
.exp-pg .nearest-dates,
.exp-pg .exp-sec .reviews{
    padding-right: 0
}

} /*/991*/
@media(max-width:768px){
    .filter-pg main .top-desc p{
        width: 100%
    }
        .custom-container{
        padding: 0 20px;
    }
/*
    .modal-container .modal .modal-dialog{
        max-width: 540px
    }
*/
    .login-register-pg .modal-container .modal-body form p{
        padding: 0
    }
    .home-pg .hero .left-sec{
        padding-left: 20px;
    }
    .home-pg .hero .right-sec{
        margin-left: 20px;
    }
    .home-pg .what-to-do p{
        width: 100%
    }
    .profile-pg .modal-body .paragraph,
    .profile-pg .set-birth form{
        padding: 0
    }
    .profile-pg .set-birth .no-gutters{
        margin-left: 0
    }
        .profile-pg .middle-sec .data-view .infos img {
    margin-right: 5px;
    width: 15px;
    height: 15px;
}
    .profile-pg .middle-sec .data-view .infos .text span:nth-child(1){
        font-size: 8px
    }
    .profile-pg .middle-sec .data-view .infos .text span:nth-child(2){
        font-size: 10px
    }
    .s-padding{
        padding: 30px 0
    }
} /*/768*/
@media(max-width:575px){
    .profile-pg .middle-sec .data-view .infos .text span:nth-child(1){
        font-size: 11px
    }
    .profile-pg .middle-sec .data-view .infos .text span:nth-child(2){
font-size: 13px;
    }
    .profile-pg .middle-sec div.single-row{
        margin-bottom: 15px
    }
    .profile-pg .middle-sec .data-container{
        padding: 10px
    }
    .exp-pg .exp-sec .title .stars {
        display: block;
    }
}/*/575*/
@media(max-width:520px){
    .login-register-pg main{
        width: 100%
    }
    .reset-pg form{
        width: 100%;
    }
    .login-register-pg .forget-modal .modal-body h1{
        padding: 0;
        font-size: 25px
    }
    .home-pg .hero .left-sec h1{
        padding-right: 0;
        font-size: 35px;
        line-height: inherit;
        padding-right: 20px;
    }
    .home-pg .hero .left-sec p{
        margin: 10px 0;
        padding-right: 20px;
        font-size: 18px;

    }
    .home-pg .hero .left-sec a.explore{
        height: 50px;
        line-height: 50px
    }
    .home-pg .hero{
        height: 100%;
    }
    .home-pg .hero .right-sec{
        margin-top: 60px;
    }
    .home-pg .what-to-do{
        margin: 60px 0 40px 0
    }
    footer.main-footer{
        padding: 40px 0
    }
    .home-pg .app .img-sec img{
        width: 100%;
        height: 100%
    }
    header.logged .logged-name .name{
        display: none
    }
    header.logged .logged-name{
        width: 50px
    }
    header.logged .logged-name .pic{
        left: 50%;
        transform: translate(-50%,-50%)
    }
    .profile-pg .bottom-sec .single-row img.ico{
        width: 20px;
        height: 20px;
    }
    .profile-pg .bottom-sec .single-row h5{
        font-size: 12px;
    }
    .profile-pg .earn-sec .earn-container .pic{
width: 100%}

    .profile-pg .bottom-sec div.single-row{
        padding: 10px
    }
    .profile-pg .bottom-sec .single-row h5 span{
        font-size: 8px;
        width: 200px;
    line-height: 13px;
    }
    .profile-pg .bottom-sec div.single-row:not(:last-of-type){
        margin-bottom: 15px
    }
    .profile-pg .modal-body .head-title{
        font-size: 29px
    }
    .profile-pg .modal-body .paragraph{
        font-size: 13px
    }
    .profile-pg .saved-cards > h4{
        margin-bottom: 20px
    }
    .profile-pg .saved-cards ul li:not(:last-child){
        margin-right: 0;
        margin-bottom: 20px
    }
}/*/520*/
@media(max-width:425px){
    .profile-pg .set-pic form label[for='openCamera'],
    .profile-pg .set-pic form label[for='upload']{
        font-size: 9px;
        height: 40px;
        line-height: 40px;
    }
        .profile-pg .modal-body .head-title{
        font-size: 20px
    }
    .profile-pg .bottom-sec .single-row img.ico{
        display: none
    }
    .home-pg .what-to-do {
/*    margin-top: 200px;*/
}
     .modal-open .modal{
        padding-left: 0 !important
    }
    .filter-pg main .s-input button{
        width: 100%
    }
    .filter-pg main .top-desc p{
        font-size: 15px;
    }
    .filter-pg main .top-desc h1{
        font-size: 25px;
        margin-bottom: 13px
    }
    .filter-pg .select2-container{
        width: 100% !important
    }
    .filter-pg video,
    .filter-pg img.poster{
        height: 400px;
    }
    .login-register-pg .top-sec h1{
        font-size: 36px
    }
    .login-register-pg .modal-body form .verify-pic{
        width: 100%;
        height: 200px;
    }
    .login-register-pg .modal-body form .verify-pic .i-2{
        left: 36%;
        top: 20%;
        width: 140px
    }
    .login-register-pg .modal-body form .verify-pic #m-check-mark{
        left: 57%;
        width: 25px
    }

    .login-register-pg .modal-container .modal-body form h3{
        font-size: 16px
    }
    .login-register-pg .modal-container .modal-body form p{
        font-size: 12px
    }
    .login-register-pg main{
/*        height: 100%*/
    }
    .congrats-pg .congrats-container h1{
        font-size: 24px;
    }
    .congrats-pg .congrats-container p{
        font-size: 14px
    }
    .reset-pg form h1{
        font-size: 25px;
        margin-bottom: 20px
    }
    .home-pg .app .text-sec ul li img{
        width: 90px;
    }
    .home-pg .app .text-sec h1,
    .home-pg .apply-host .text-sec h1{
        font-size: 25px;
        line-height: 40px
    }
    .home-pg .apply-host .right-sec a{
        width: 100%
    }
    .home-pg .apply-host .right-sec p{
        font-size: 15px
    }
    .profile-pg .set-language .col-6,
    .profile-pg .set-birth .col-8{
        -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
        margin-left: 0 !important
    }
    .profile-pg .select2-container--default .select2-selection--single .select2-selection__arrow b{
        width: 10px !important;
        height: 10px !important;
        left: 0 !important
    }
    .profile-pg .select2-selection__rendered{
        padding-left: 10px !important
    }
    .profile-pg .profile-sec .left li:nth-child(1){
        width: 40px;
        height: 40px;
    }
    .profile-pg .profile-sec .left li:nth-child(2){
        margin-left: 5px
    }
    .profile-pg .profile-sec .left li:nth-child(2) h2{
        font-size: 13px
    }
    .profile-pg .profile-sec .left li:nth-child(2) h4
    {
        font-size: 9px
    }
    .profile-pg .profile-sec .right li:nth-child(2) h5 span{
        font-size: 8px
    }
    .profile-pg .profile-sec .name{
        padding: 10px
    }
    .profile-pg .profile-sec .right li h6{
        font-size: 10px
    }
    .profile-pg .earn-footer h5{
        font-size: 10px;
        line-height: 18px
    }
    .profile-pg .profile-sec .right li:nth-child(1) h5{
        font-size: 12px
    }
    .profile-pg .profile-sec .right li:nth-child(2) h5{
        width: 100%
    }
    .profile-pg .earn-container .text-sec h1{
        padding: 0;
        font-size: 15px;
                margin-bottom: 10px

    }
    .profile-pg .earn-container .text-sec h6{
        padding: 0;
        font-size: 10px;
        margin-bottom: 10px;
        line-height: 18px
    }
    .profile-pg .profile-sec .top-sec h1{
        font-size: 30px
    }

} /*/425*/
@media(max-width:360px){

}
@media(max-width:320px){

}
