@media(max-width:2000px){

}
@media(max-width:1600px){

}
@media(max-width:1400px){

}
@media(max-width:1200px){

}
@media(max-width:1024px){

}
@media(max-width:991px){
    .login-register-pg main{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin-bottom: 30px;
        width: 560px;
        border-radius: 30px;
        margin: auto auto 40px auto
    }
    .mobile-bg-video{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        padding-left: 0 !important
    }
    .mobile-bg-video video{
        width: 100%;
        height: 100%;
        padding-left: 0 !important;
        object-fit: fill
    }
    .login-register-pg .form-container{
        width: 100%;
        height: 100%;
        background: #ffffffc9;
        display: block;
        position: relative;
        padding-left: 0 !important;
        margin: auto;
        padding: 20px 0;


    }
    .login-register-pg header{
        z-index: 1
    }
    .screen-nav{
        display: none;
    }
    .mobile-nav{
        display: block !important
    }
    .filter-pg main .s-input:nth-child(1){
        margin-bottom: 20px
    }
    .filter-pg main .s-input.text-right {
        text-align: left !important
    }
    .filter-pg main .s-input button{
        height: 55px;
        line-height: 55px;
        text-align: center
    }
    .login-register-pg .col-lg-5{
        display: none
    }
    .login-register-pg .top-sec:after{
        width: 100%
    }
    .login-register-pg .sign-options .col-lg-6:nth-child(1){
        margin-bottom: 20px
    }
    .login-register-pg .mid-sec form .reg-inp input{
        width: 100%
    }
    .login-register-pg .mid-sec form .s-input .password a{
        right: 20px
    }
    .login-register-pg .bottom-sec .proceed{
        width: 100%;
        margin-top: 20px
    }
    .login-register-pg .top-sec:after{
        background: #fff
    }
    .login-register-pg .top-sec .sign-options a,
    .login-register-pg .bottom-sec .proceed{
        border: none !important
    }
        .filter-pg main .top-desc p{
        width: 100%
    }

}
@media(max-width:768px){
    .filter-pg main .top-desc p{
        width: 100%
    }
        .custom-container{
        padding: 0 20px;
    }
}
@media(max-width:520px){
    .login-register-pg main{
        width: 100%
    }
}
@media(max-width:425px){
    .filter-pg main .top-desc p{
        font-size: 15px;
    }
    .filter-pg main .top-desc h1{
        font-size: 25px;
        margin-bottom: 13px
    }
    .select2-container{
        width: 100% !important
    }
    .filter-pg video,
    .filter-pg img.poster{
        height: 400px;
    }
    .login-register-pg .top-sec h1{
        font-size: 28px
    }

}
@media(max-width:360px){

}
@media(max-width:320px){

}
