@media(max-width:2000px){

}
@media(max-width:1600px){

}
@media(max-width:1400px){

}
@media(max-width:1200px){

}
@media(max-width:1024px){

}
@media(max-width:991px){
    .reset-pg header .screen-nav{
        display: block !important
    }
    .login-register-pg .top-sec:before{
        left: 50%;
        transform: translate(-50%)
    }
    .login-register-pg .bottom-sec{
        position: static;
        left: unset;
        margin-bottom: 20px;
    }
    .login-register-pg main{
            position: relative;
    width: 560px;
    border-radius: 30px;
    margin: 40px auto 40px auto;
    }
/*
    .mobile-bg-video{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        padding-left: 0 !important
    }
    .mobile-bg-video video{
        width: 100%;
        height: 100%;
        padding-left: 0 !important;
        object-fit: fill
    }
*/
    .login-register-pg .form-container{
        width: 100%;
        background: #ffffffc9;
        display: block;
        position: relative;
        padding-left: 0 !important;
        padding: 20px 0;
        border-radius: 30px


    }
    .login-register-pg header{
        z-index: 1
    }
    .screen-nav{
        display: none;
    }
    .mobile-nav{
        display: block !important
    }
    .filter-pg main .s-input:nth-child(1){
        margin-bottom: 20px
    }
    .filter-pg main .s-input.text-right {
        text-align: left !important
    }
    .filter-pg main .s-input button{
        height: 55px;
        line-height: 55px;
        text-align: center
    }
    .login-register-pg .col-lg-5{
        display: none
    }
    .login-register-pg .top-sec:after{
        width: 100%
    }

    .login-register-pg .top-sec .sign-options a{
        margin: auto;
    }
    .login-register-pg .sign-options .col-lg-6:nth-child(1){
        margin-bottom: 20px
    }
    .login-register-pg .mid-sec form .reg-inp input:not([type="checkbox"]){
        width: 100%
    }
    .login-register-pg .mid-sec form .s-input .password a{
        right: 20px
    }
    .login-register-pg .bottom-sec .proceed{
        width: 100%;
        margin-top: 20px
    }

    .login-register-pg .top-sec .sign-options a,
    .login-register-pg .bottom-sec .proceed{
        border: none !important
    }
        .filter-pg main .top-desc p{
        width: 100%
    }
    .congrats-pg .congrats-container p{
        padding: 0
    }
    .filter-pg main .select2-container--default .select2-selection--single .select2-selection__rendered{
        overflow: hidden
    }
}
@media(max-width:768px){
    .filter-pg main .top-desc p{
        width: 100%
    }
        .custom-container{
        padding: 0 20px;
    }
    .login-register-pg .modal-container .modal .modal-dialog{
        max-width: 540px
    }
    .login-register-pg .modal-container .modal-body form p{
        padding: 0
    }
}
@media(max-width:520px){
    .login-register-pg main{
        width: 100%
    }
    .reset-pg form{
        width: 100%;
    }
    .login-register-pg .forget-modal .modal-body h1{
        padding: 0;
        font-size: 25px
    }
}
@media(max-width:425px){
    .login-register-pg .modal-open .modal{
        padding-left: 0 !important
    }
    .filter-pg main .s-input button{
        width: 100%
    }
    .filter-pg main .top-desc p{
        font-size: 15px;
    }
    .filter-pg main .top-desc h1{
        font-size: 25px;
        margin-bottom: 13px
    }
    .select2-container{
        width: 100% !important
    }
    .filter-pg video,
    .filter-pg img.poster{
        height: 400px;
    }
    .login-register-pg .top-sec h1{
        font-size: 36px
    }
    .login-register-pg .modal-body form .verify-pic{
        width: 100%;
        height: 200px;
    }
    .login-register-pg .modal-body form .verify-pic .i-2{
        left: 36%;
        top: 20%;
        width: 140px
    }
    .login-register-pg .modal-body form .verify-pic #m-check-mark{
        left: 57%;
        width: 25px
    }

    .login-register-pg .modal-container .modal-body form h3{
        font-size: 16px
    }
    .login-register-pg .modal-container .modal-body form p{
        font-size: 12px
    }
    .login-register-pg main{
/*        height: 100%*/
    }
    .congrats-pg .congrats-container h1{
        font-size: 24px;
    }
    .congrats-pg .congrats-container p{
        font-size: 14px
    }
    .reset-pg form h1{
        font-size: 25px;
        margin-bottom: 20px
    }

}
@media(max-width:360px){

}
@media(max-width:320px){

}
