/*Global*/


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
-webkit-overflow-scrolling: touch;

}
html{
    height: 100%;
    overflow-x: hidden
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #1a242e
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: middle;
    background: transparent;
}
/*
#myContent,
main {
    height: 100%
}
*/

.js-loading *,
.js-loading *:before,
.js-loading *:after {
    animation-play-state: paused !important;
}

::placeholder,
.select2-container--default .select2-selection--single .select2-selection__placeholder{
    text-align: left;
    color: #95A5A6;
    font-family: p-reg;
    font-size: 13px;
    font-weight: normal

    /*mozilla*/

}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    text-align: left;
    color: #95a5a6;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    text-align: left;
    color: #95a5a6;
}

::-webkit-input-placeholder {
    text-align: left;
    color: #95a5a6

}



ul {
    list-style: none;
    padding: 0;
    margin: 0
}

a {
    text-decoration: none;
    color: #000;
    width: 100%;
    display: block;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}
a[href^=tel] { color: inherit; text-decoration: none;  }

a:hover {
    text-decoration: none;
    color: #000
}

select {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
}

.animated {
    animation-duration: 2s;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.custom-container{
    padding-left: 70px;
    padding-right: 70px;
    margin-left: auto;
    margin-right: auto
}
.page-container{
    height: 100%;
    width: 100%
}
.d-flex-sb{
    display: flex;
    justify-content: space-between
}
.m-auto-0{
    margin: auto 0
}

@font-face {
  font-family: helvitica;
  src: url(../fonts/HelveticaNeueMed.ttf);
}
@font-face {
  font-family: p-bold;
  src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: p-light;
  src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: p-med;
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: p-reg;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: dm-bold;
  src: url(../fonts/DMSans-Bold.ttf);
}
@font-face {
  font-family: dm-med;
  src: url(../fonts/DMSans-Medium.ttf);
}
@font-face {
  font-family: dm-reg;
  src: url(../fonts/DMSans-Regular.ttf);
}
@font-face {
  font-family: p-sb;
  src: url(../fonts/Poppins-SemiBold.ttf);
}

/*Start header style*/
 header{
    padding: 30px 0;
    position: relative
}
header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ecf0f1
}


header .logo{
    width: 80px;
}
header .logo img{
    max-width: 100%;
    max-height: 100%;
}
header .list-nav ul li {
    display: inline-block
}
header .list-nav ul li:not(:last-child){
    margin-right: 60px;
}

header .list-nav ul li a{
    color: #1a242e;
    font-size: 16px;
    transition: all .3s;
    text-transform: capitalize
}
header .list-nav ul li:not(:last-child) a:hover{
    color: #ed4d12;
    cursor: pointer;
    transition: all .3s
}
header .list-nav ul li:last-child a{
    border-radius: 20px;
    background: #ed4d12;
    color: #fff;
    padding: 7px 18px;
    transition: all .3s;
    border: 1px solid #ed4d12;


}
header .list-nav ul li:last-child a:hover{

    color: #ed4d12;
    background: #fff;
    transition: all .3s
}
header .mobile-nav{
    display: none
}
header .mobile-nav .toggle-button {
  width: 44px;
  height: 40px;
  padding: 4px;
  transition: .25s;
  z-index: 15;
}

header .mobile-nav .toggle-button:hover {
  cursor: pointer;
}

header .mobile-nav .toggle-button .menu-bar {
  border-radius: 2px;
  width: 80%;
  transition: .5s;
}

header .mobile-nav .toggle-button .menu-bar-top {
  border: 4px solid #ed4d12;
  border-bottom: none;
  top: 0;
}

header .mobile-nav .toggle-button .menu-bar-middle {
  height: 4px;
  background-color: #ed4d12;
  margin-top: 7px;
  margin-bottom: 7px;
  top: 4px;
}

header .mobile-nav .toggle-button .menu-bar-bottom {
  border: 4px solid #ed4d12;
  border-top: none;
  top: 22px;
}

header .mobile-nav .button-open .menu-bar-top {
  transform: rotate(45deg) translate(8px, 8px);
  transition: .5s;
}

header .mobile-nav .button-open .menu-bar-middle {
  transform: translate(230px);
  transition: .1s ease-in;
  opacity: 0;
}

header .mobile-nav .button-open .menu-bar-bottom {
  transform: rotate(-45deg) translate(8px, -7px);
  transition: .5s;
}
header .mobile-nav .slide-panel ul{
    margin-top: 20px
}
header .mobile-nav .slide-panel li {
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}
header .mobile-nav .slide-panel li:last-child{
        border-bottom: none;
    background: #ed4d12;
}
header .mobile-nav .slide-panel li:last-child a{
    color: #fff
}
/*End header style*/

/*Start Main Style*/
.filter-pg main .top-desc{
    margin-bottom: 30px;
    margin-top: 20px;
}
.filter-pg main .top-desc h1{
    color: #ed4d12;
    margin-bottom: 22px;
    font-size: 30px;
    font-weight: bold;
}
.filter-pg main .top-desc p{
        width: 600px;
    font-family: p-reg;
    color: #000;
    font-size: 22px;
}
.filter-pg main .filter .search-box{
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 10px 0 rgba(224, 224, 224, 0.2);
    border: solid 0.5px #ecf0f1;
    padding: 14.5px 23px;
    margin-bottom: 45px
}

.filter-pg main .filter .search-box label{
    font-family: p-sb;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.1px;
    display: block;
    font-size: 15px;
    color: #1a242e;
    margin-bottom: 4px;
}
.filter-pg main .filter .search-box input{
    border: none;
    color: #444;
    font-size: 14px;
    width: 100%;
    text-align: left;
    display: block;
    font-family: p-bold
}
.filter-pg main .filter .search-box input:focus{
    outline: none
}
.filter-pg main .select2-selection__arrow b{
    display:none !important;
}
.filter-pg main .select2-container--default .select2-selection--single{
    border: 0
}
.filter-pg main .select2-container--default .select2-selection--single .select2-selection__rendered{
    padding-left: 0;
    font-weight: bold;
    overflow: visible;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #ed4d12;
    color: white;
}
.select2-results__option[aria-selected]{
    margin-bottom: 5px
}

 .select2-container *:focus {
        outline: none;
    }

 span.select2-selection.select2-selection--single {
        outline: none;
    }

 [class^='select2'] {
  border-radius: 10px !important;
}
.filter-pg main .s-input {
    width: 100%;
    height: 100%
}
.filter-pg main .s-input button{
    height: 100%;
    width: 160px;
    background: #ed4d12;
    color: #fff;
    text-transform: uppercase;
    border-radius: 8px;
    border: 1px solid #ed4d12;
    font-size: 20px;
    transition: all .3s
}
.filter-pg main .s-input button:focus{
    outline: none
}
.filter-pg main .s-input button:hover{
    background: #fff;
    color: #ed4d12;
    cursor: pointer
}
.filter-content .pic{
    position: relative
}
/*
.filter-content .pic img{
    height: 500px;
    width: 100%;
    border-radius: 10px;
}
*/
 .pic img.poster{
        position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
    border-radius: 10px;
     object-fit: cover

}
 .pic video{
    height: 550px;
    width: 100%;
    object-fit: fill;
    border-radius: 10px;
     opacity: 0;
     visibility: visible
}

.filter-content .single{
    margin-bottom: 50px
}
.filter-content .single .modal-body video{
    width: 100%;
    height: 100%
}
 .video-play{
    position: absolute;
    bottom: 20px;
    left: 20px;

}
 .video-play span:nth-child(1){
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px

}
.video-play span i{
    color: #ed4d12;
    font-size: 11px
}
 .video-play span {
    display: inline-block;
}
 .video-play span > *{
    color: #fff
}
 .video-play span h6{
     font-size: 12px;
    font-family: p-light;
}
.filter-content .single .pic,
.single.video-sec pic{
    margin-bottom: 20px;
}


.filter-content .single .desc h5:nth-child(1){
        font-family: p-bold;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.6px;
    display: block;
    font-size: 15px;
    color: #95A5A6;
}
.filter-content .single .desc h5{
    font-size: 15px;
    color: #000;
    font-family: p-reg;
}
.filter-content .single .desc h4{
    font-size: 17px;
    margin: 8px 0;
    color: #34495E;
        font-family: p-med;
    font-weight: 600

}
.filter-content .rating .stars i,
.filter-content .rating .rating-num span{
    color: #34495e;
}
.filter-content .rating .rating-num,
.filter-content .rating .stars{
    display: inline-block
}
.filter-content .rating .rating-num span{
    font-size: 13px
}
.filter-content .rating .stars i{
    font-size: 18px;
    color: #FFCE00
}

/*End Main Style*/

/*Login Page Style*/

.login-register-pg .top-sec{
    position: relative;
    padding-bottom: 30px
}
.login-register-pg header:after{
    display: none
}
.login-register-pg .top-sec:after{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 120%;
    height: 2px;
    background:#ecf0f1;
    content: ''
}
.login-register-pg .top-sec:before{
    content: 'Or';
    position: absolute;
    left: 44%;
    bottom: -10px;
    width: 50px;
    height: 20px;
    background: #fff;
    z-index: 1;
    color: #95a5a6;
    text-align: center;
    border-radius: 40px;


}
.login-register-pg .top-sec h1{
    color: #ed4d12;
    font-weight: bold;
    margin: 20px 0 30px 0;


}
/*
.login-register-pg main > * {
    padding-left: 40px;
}
*/
.login-register-pg .top-sec .sign-options a{
    background: #518ef8;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 300px;
    margin: auto 0;
    color: #fff;
    border-radius: 8px;
    font-size: 17px;
    transition: all .3s;
    border: 1px solid;
    font-family: p-med;
}
.login-register-pg .top-sec .sign-options a:hover{
    border: 1px solid #518ef8;
    color: #518ef8;
    background: #fff;
    transition: all .3s

}
.login-register-pg .top-sec .sign-options a span{
    vertical-align: baseline;
    padding-right: 10px;

}
.login-register-pg .top-sec .sign-options a.facebook{
    background: #1973cb;
    border: 1px solid;
}
.login-register-pg .top-sec .sign-options a.facebook:hover{
    border: 1px solid #1973cb;
    color: #1973cb;
    background: #fff;
    transition: all .3s

}
.login-register-pg .mid-sec{
    margin-top: 40px;
    margin-bottom: 40px
}
.login-register-pg  .s-input label,
{
    color: #34495e;
    font-weight: 600;
    margin-bottom: 10px;

}
.login-register-pg  form input:not([type="checkbox"]){
    border: 1px solid #ecf0f1;
    border-radius: 10px;
    height: 50px;
    line-height: 50px;
    padding-left: 45px;
    width: 686px;
    transition: all .3s
}
.login-register-pg  form .reg-inp input{
    width: 303px;
}
.login-register-pg  form input:not([type="checkbox"]):focus{
    border: 1px solid #518ef8;
    transition: all .3s;
    outline: none
}

.login-register-pg  .inp{
    position: relative;
}
.login-register-pg  .inp img{
    position: absolute;
    left: 15px;
    top: 18px;
    width: 20px;
}
.login-register-pg  form .s-input .password a{
    position: absolute;
    right: 70px;
    top: 15px;
    display: inline;
    width: unset;
    color: #95a5a6;
    transition: all .3s
}
.login-register-pg  form .s-input .password a:hover{
    transition: all .3s;
    color: #000
}
.login-register-pg  form .s-input h5{
    font-size: 13px;
    margin-top: 15px;
    color: #34495e
}
.login-register-pg  form .s-input h5 a{
    display: inline;
    color: #ed4d12

}
.login-register-pg  form .s-input h5 a:hover{
    text-decoration: underline
}
.login-register-pg .bottom-sec{
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 0
}
.login-register-pg .checkbox {
    width: 100%;
    margin: 15px auto;
    position: relative;
    display: block;
}

.login-register-pg .checkbox input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    margin-left: -20px;
}
.login-register-pg .checkbox label {
    position: relative;
}
.login-register-pg .checkbox label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    transition: transform 0.28s ease;
    border-radius: 5px;
    border: 2px solid #ecf0f1;
}
.login-register-pg .checkbox label:after {
  content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid #ed4d12;
    border-left: 2px solid #ed4d12;
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    transition: transform ease 0.25s;
    will-change: transform;
    position: absolute;
    top: 8px;
    left: 7px;
}
.login-register-pg .checkbox input[type="checkbox"]:checked ~ label::before {
    color: #7bbe72;
}

.login-register-pg .checkbox input[type="checkbox"]:checked ~ label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.login-register-pg .checkbox label {
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 0;
    font-weight: normal !important;
    cursor: pointer;
    vertical-align: sub;
}
.login-register-pg .checkbox label span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.login-register-pg .checkbox input[type="checkbox"]:focus + label::before {
    outline: 0;
}


.login-register-pg .bottom-sec p{
    color: #34495e;
    font-size: 14px;
    padding-left: 17px

}
.login-register-pg .bottom-sec p a{
    display: inline-block;
    color: #ed4d12;
    font-weight: 600;
    width: unset
}
.login-register-pg .bottom-sec p a.proceed.reg{
    display: inline-block;
}
.login-register-pg .bottom-sec p a:hover{
    text-decoration: underline
}
.login-register-pg .bottom-sec .proceed{
        background: #ed4d12;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 300px;
    margin: auto 0;
    color: #fff;
    border-radius: 8px;
    font-size: 17px;
    border: 1px solid;
    transition: all .3s;
    text-transform: uppercase;
    font-family: p-med;
    cursor: pointer
}
.login-register-pg .bottom-sec .proceed:hover{
    border: 1px solid #ed4d12;
    background: #fff;
    color: #ed4d12;
    transition: all .3s
}
.login-register-pg .form-container{
    position: relative;
    padding-bottom: 100px
}
.login-register-pg .pic{
    height: 100%;
    width: 100%;
    position: relative;
}
.login-register-pg .pic img{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0


}
.login-register-pg .pic h1{
    position: absolute;
    bottom: 80px;
    width: 300px;
    color: #fff;
    left: 80px;
    z-index: 1;
    font-family: p-bold;
    font-size: 37px;
    line-height: 56px;
}
.login-register-pg video{
    height: 100%;
    border-radius: 0;
    width: 100%
}
.login-register-pg .video-play{
    bottom: 93px;
    right: 90px;
    left: unset;
}

.login-register-pg .video-play h5{
    font-size: 14px;
}
.login-register-pg .video-play h6{
    font-size: 12px
}



.login-register-pg .s-input{
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 30px;
}
.login-pg .s-input { /*in login page only!*/
    margin-bottom: 30px;
    padding-bottom: 0
}
.login-register-pg .s-input span.guide{
    color: #95a5a6;
    font-size: 12px
}
.login-register-pg .s-input.error span.guide{
    display: none !important
}
.login-register-pg .s-input span.error-msg{
    display: none;
}

.login-register-pg .s-input.error span.error-msg{
    position: absolute;
    display: block !important
}
.login-register-pg header{
    padding: 20px 0
}
.login-register-pg  form .s-input.error span{
    display: block !important;
    color: #dc4343;
    font-size: 12px;
    position: absolute;
    bottom: 6px
}
.login-register-pg form .s-input.error input:not([type="checkbox"]) {
    border-color: #dc4343;

}
.login-register-pg form .s-input label{
        margin-bottom: 5px;
    color: #34495E;
    font-family: p-med;
    font-size: 15px;
}

.login-register-pg .modal-body form  .verify-pic {
    width: 460px;
    height: 250px;
    margin: auto;
    overflow: hidden;
    position: relative
}
.login-register-pg .modal-body form  .verify-pic  img{
    max-width: 100%;
    max-height: 100%;

}
.login-register-pg .modal-container .modal-body form  h3{
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
    font-family: p-sb;
}
.login-register-pg .modal-container .modal-body form  p{
    font-family: p-reg;
    color: #34495e;
    text-align: center;
    margin-bottom: 25px;
    padding: 0 30px;
    font-size: 17px;
}
.login-register-pg .modal-container .modal-body form  .digits{
    text-align: center;
    margin-bottom: 25px
}
.login-register-pg .modal-container .modal-body form  .digits input{
        display: inline-block;
    width: 35px;
    height: 55px;
    background-color: #ecf0f1;
    border: none;
    border-radius: 5px;
    outline: none;
    text-align: center;
    font-family: p-med;
    color: #1a242e;
    font-size: 34px;
}
.login-register-pg .modal-container .modal-body form  .digits input:not(:last-of-type){
    margin-right: 10px
}
.login-register-pg .modal-container .modal-body form  .digits input:focus{
    outline: none
}
.login-register-pg .modal-container .modal-body form  .bottom h5{
    color: #34495e;
    font-size: 15px;
    font-family: p-reg;
    line-height: 22px;
    padding-right: 10px;

}
.login-register-pg .modal-container .modal-body form  .bottom h5 a{
    display: inline-block;
    color: #34495e;
    width: unset;
    color: #ed4d12;
    font-family: p-med
}
.login-register-pg .modal-container .modal-body form  .bottom h5 a:hover{
    text-decoration: underline
}
.login-register-pg .modal-container .modal  .modal-dialog{
    max-width: 700px;
}
.login-register-pg .modal-container .modal .modal-header{
    border-bottom: 0;
    padding: 10px 0 0 0;
}
.login-register-pg .modal-container .modal .modal-header button:focus{
    outline: none;
}

.login-register-pg .modal-container .modal .modal-header button{
    outline: none
}
.login-register-pg .modal-container .modal  .modal-dialog .modal-content{
    border-radius: 20px;
    padding: 10px 20px
}
.login-register-pg .forget-modal .modal-header{
    position: absolute;
    right: 20px;
}
.login-register-pg .forget-modal .modal-body{
    text-align: center
}
.login-register-pg .forget-modal .modal-body h6{
    color: #95a5a6;
    font-size: 12px;
    font-family: p-med;
    margin-bottom: 10px
}
.login-register-pg .forget-modal .modal-body h1{
    color: #ed4d12;
    margin-bottom: 20px;
    padding: 0 70px;
}
.login-register-pg .forget-modal .modal-body p{
    color: #34495e;
    margin-bottom: 20px;
}
.login-register-pg .forget-modal .modal-body a.proceed{
        display: inline-block;
    width: 250px;
    background: #ed4d12;
    color: #fff;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
}

/*End Login & Register Pages*/

/*Start Congrats Page*/
.congrats-pg section.congrats{
    margin: 50px 0
}
.congrats-pg .congrats-container h1{
    color: #1a242e;
    font-family: p-bold;
}
.congrats-pg .congrats-container h1 span{
    color: #ed4d12
}
.congrats-pg .congrats-container .congrats-pic {
    width: 400px;
    margin: 40px auto 40px auto;
    overflow: hidden;
    position: relative

}
.congrats-pg .congrats-container .congrats-pic img{
    max-width: 100%;
    max-height: 100%
}
.congrats-pg .congrats-container p{
    color: #34495e;
    font-family: p-reg;
    font-size: 18px;
    padding: 0 280px;
    margin-bottom: 30px
}
.congrats-pg .congrats-container a{
    color: #ed4d12;
    text-transform: uppercase;
    font-family: p-sb;
    display: inline-block;
    width: unset
}
.congrats-pg .congrats-container a:hover{
    text-decoration: underline
}
.congrats-pg .congrats-container .gify{
   position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1) translate(-50%);
}
/*End Congrats Page*/
/*Start Footer Style*/
footer.cpy-footer{

    display: block;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #e4e4e4;
}
footer.cpy-footer h5{
    color: #95a5a6;
    font-family: p-reg;
    font-size: 12px
}
/*End Footer Style*/
/*Verify Modal Animation*/
.login-register-pg .modal-body form .verify-pic #m-check-mark {
   width: 30px;
    height: auto;
    display: block;
    position: absolute;
    left: 56%;
    top: 49%;
    transform: translate(-50%,-50%);
    z-index: 99;
}

.login-register-pg .modal-body form .verify-pic #checkmark {
  stroke-dasharray: 640;
    stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: draw-around 3s infinite;
      -ms-animation: draw-around 3s infinite;
          animation: draw-around 3s infinite;
    animation-iteration-count: 1;
}
@-ms-keyframes draw-around {
  0% {
    stroke-dashoffset: 640;
  }
  10% {
    stroke-dashoffset: 640;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes draw-around {
  0% {
    stroke-dashoffset: 640;
  }
  10% {
    stroke-dashoffset: 640;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes draw-around {
  0% {
    stroke-dashoffset: 640;
  }
  10% {
    stroke-dashoffset: 640;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.login-register-pg .modal-body form .verify-pic .i-1{
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: static;
}
.login-register-pg .modal-body form .verify-pic .i-2{
        z-index: 1;
    left: 38%;
    top: 20%;
    transform: translate(-50%,-50%);
    width: 170px;
    -webkit-animation: spin 8s infinite linear;


}
.login-register-pg .modal-body form .verify-pic .i-3{
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.login-register-pg .modal-body form .verify-pic img{
    position: absolute;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
/*/Verify Modal Animation*/

/*STart Forget Style*/
.reset-pg form{
    width: 520px;
    margin: 40px auto 40px auto;
}
.reset-pg .bottom-sec{
    position: static;
    width: 100%;
    left: unset;
    bottom: unset;
    text-align: right
}
.reset-pg form h1 {
        color: #ed4d12;
    font-family: p-bold;
    margin-bottom: 40px;
}
.reset-pg form input:not([type="checkbox"]){
    width: 100%
}
.reset-pg form .password a {
    right: 20px !important
}
.reset-pg .reset-password{
    margin-bottom: 40px
}
/*End Forget Style */

/*Start homepage Style*/
.home-pg .owl-stage{padding-left:0px !important;}
.single.v-single .pic{
    position: relative
}
.home-pg.page-container{
    position: relative
}
.home-pg .overlay-header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px 0
}
.home-pg .overlay-header .list-nav ul li a{
    color: #fff
}
.home-pg .overlay-header .list-nav ul li:last-child a{
    border: none;
    background: #ffffff2b;
    transition: all .3s
}
.home-pg .overlay-header .list-nav ul li:last-child:hover a {
    transition: all .3s;
    background: #fff;

}
.home-pg .overlay-header:after{
    display: none
}
.home-pg .hero{
    background-image: url(../imgs/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding-top: 170px
}
.home-pg .hero img.poster,
.home-pg .hero video{
    height: 442px;
}
.home-pg .hero .right-sec .item{
    cursor: pointer
}
.home-pg .hero .left-sec{
    padding-left: 50px;
}
.home-pg .hero .left-sec h1{
    font-family: p-bold;
    color: #fff;
    font-size: 60px;
    padding-right: 130px;
    line-height: 90px;
}
.home-pg .hero .left-sec p{
    font-size: 22px;
    color: #fff;
    margin: 20px 0;
    line-height: 33px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    padding-right: 140px
}
.home-pg .hero .left-sec p span{
    font-weight: 900;
    font-family: dm-bold;
    font-size: 25px;
    vertical-align: baseline;
}
.home-pg .hero .left-sec a.explore{
    display: inline-block;
    width: 266px;
    height: 67px;
    line-height: 67px;
    text-align: center;
    border-radius: 8px;
    background: #fff;
    color: #ED4D12;
    font-family: p-med;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 20px;
    border: 1px solid #fff;
    transition: all .3s
}
.home-pg .hero .left-sec a.explore:hover{
    border-color: #ED4D12;
    background: transparent;
    color: #fff
}
.home-pg .what-to-do{
    margin: 60px 0 40px 0;
}
.home-pg .what-to-do h1{
    font-size: 37px;
    font-family: p-bold;
    color: #ED4D12;
    margin-bottom: 30px;

}
.home-pg .what-to-do p{
    color: #000000;
    font-size: 22px;
    font-family: p-reg;
    line-height: 38px;
    width: 665px;
    margin: auto;
}
.home-pg .category-row > h1 {
    font-family: p-sb;
    font-size: 32px;
    color: #1A242E;
    margin-bottom: 30px
}
.home-pg .app {
        background-color: #ED4D12;
    color: #fff;
    border-radius: 12px;
    margin-bottom: 50px
}
.home-pg .app .text-sec{
    padding-left: 80px;
}
.home-pg .app .text-sec h1{
    font-size: 37px;
    font-family: p-bold;
    line-height: 60px;
}
.home-pg .app .text-sec h1 span{
    display: block;
}
.home-pg .app .text-sec p{
    font-family: p-reg;
    font-size: 17px;
    line-height: 25.5px;
    margin: 20px 0;
}
.home-pg .app .text-sec ul li{
    display: inline-block;
}
.home-pg .app .text-sec ul li:not(:last-child){
    margin-right: 30px
}
.home-pg .apply-host{
    background: #1A242E;
    border-radius: 12px;
    color: #fff;
    margin-bottom: 50px
}
.home-pg .apply-host .right-sec{
    padding: 30px 0
}
.home-pg .apply-host .right-sec p{
    font-family: p-reg;
    font-size: 17px;
    width: 406px;
    margin: auto ;

}
.home-pg .apply-host .right-sec a {
    width: 294px;
    margin: 20px auto auto 130px;
    line-height: 50px;
    height: 50px;
    text-align: center;
    background: #2DC972;
    color: #fff;
    text-transform: uppercase;
    font-family: p-med;
    font-size: 17px;
    border-radius: 8px;
    border: 1px solid  #2DC972;
    transition: all .3s
}
.home-pg .apply-host .right-sec a:hover{
    border-color: #fff;
    color: #fff;
    transition: all .3s;
    background: transparent
}
.home-pg .apply-host  .text-sec{
    padding-left: 80px;
}
.home-pg .apply-host  .text-sec h1{
    font-size: 32px;
    font-family: p-bold;
    line-height: 52px;
}
.home-pg .apply-host  .text-sec h1 span{
    color: #2DC972;
    display: block;
}

/*End homepage Style*/

/*Start Main Footer*/
footer.main-footer{
    padding: 60px;
    position: relative;
    border-top: 1px solid #ECF0F1;
}
footer.main-footer .logo-sec{
    text-align: center;
}

footer.main-footer .logo-sec h6{
    font-family: p-reg;
    font-size: 10px;
    color: #95A5A6;
    margin-top: 15px
}
footer.main-footer .box ul li{
    font-family: p-reg;
    font-size: 13px;
}
footer.main-footer .box ul li a{
    display: inline;
    width: unset;
    color: #34495E;
    font-family: p-reg;

}
footer.main-footer .box ul li a:hover{
    text-decoration: underline
}
footer.main-footer .box ul li h1{
    font-size: 15px;
    color: #ED4D12;
    font-family: p-med;
    font-weight: bold
}
footer.main-footer .box ul li:not(:last-child){
    margin-bottom: 15px;
}
footer.main-footer .box{
        width: 150px;
    margin: 0 auto;
}
footer.main-footer .social span a i {
    font-size: 20px;
    color: #ED4D12;
}
footer.main-footer .social span:not(:last-of-type) a i{
    margin-right:10px
}
/*End Main Footer*/

