/*Global*/


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
-webkit-overflow-scrolling: touch;

}
html{
    height: 100%;
    overflow-x: hidden;

}

body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #1a242e;

}
body.modal-open {
    overflow: visible;
}
.s-padding{
    padding: 72px 0
}
.p-relative{
    position: relative
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: middle;
    background: transparent;
}
/*
#myContent,
main {
    height: 100%
}
*/

.js-loading *,
.js-loading *:before,
.js-loading *:after {
    animation-play-state: paused !important;
}
/*loader style*/
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ed4d12;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*End loadaer  style*/
::placeholder,
.select2-container--default .select2-selection--single .select2-selection__placeholder{
    text-align: left;
    color: #95A5A6;
    font-family: p-reg;
    font-size: 13px;
    font-weight: normal

    /*mozilla*/

}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    text-align: left;
    color: #95a5a6;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    text-align: left;
    color: #95a5a6;
}

::-webkit-input-placeholder {
    text-align: left;
    color: #95a5a6

}



ul {
    list-style: none;
    padding: 0;
    margin: 0
}

a {
    text-decoration: none;
    color: #000;
    width: 100%;
    display: block;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}
a[href^=tel] { color: inherit; text-decoration: none;  }

a:hover {
    text-decoration: none;
    color: #000
}

select {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
}

.animated {
    animation-duration: 2s;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.custom-container{
    padding-left: 70px;
    padding-right: 70px;
    margin-left: auto;
    margin-right: auto
}
.page-container{
    height: 100%;
    width: 100%
}
.d-flex-sb{
    display: flex;
    justify-content: space-between
}
.m-auto-0{
    margin: auto 0
}

@font-face {
  font-family: helvitica;
  src: url(../fonts/HelveticaNeueMed.ttf);
}
@font-face {
  font-family: p-bold;
  src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: p-light;
  src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: p-med;
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: p-reg;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: dm-bold;
  src: url(../fonts/DMSans-Bold.ttf);
}
@font-face {
  font-family: dm-med;
  src: url(../fonts/DMSans-Medium.ttf);
}
@font-face {
  font-family: dm-reg;
  src: url(../fonts/DMSans-Regular.ttf);
}
@font-face {
  font-family: p-sb;
  src: url(../fonts/Poppins-SemiBold.ttf);
}

/*Start header style*/
 header{
    padding: 30px 0;
    position: relative
}
header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ecf0f1
}


header .logo{
    width: 80px;
}
header .logo img{
    max-width: 100%;
    max-height: 100%;
}
header .list-nav ul li {
    display: inline-block
}
header .list-nav ul li:not(:last-child){
    margin-right: 60px;
}

header .list-nav ul li a{
    color: #1a242e;
    font-size: 16px;
    transition: all .3s;
    text-transform: capitalize
}
header .list-nav ul li:not(:last-child) a:hover{
    color: #ed4d12;
    cursor: pointer;
    transition: all .3s
}
header .list-nav ul li:last-child a{
    border-radius: 20px;
    background: #ed4d12;
    color: #fff;
    padding: 7px 18px;
    transition: all .3s;
    border: 1px solid #ed4d12;


}
header .list-nav ul li:last-child a:hover{

    color: #ed4d12;
    background: #fff;
    transition: all .3s
}
header .mobile-nav{
    display: none
}
header .mobile-nav .toggle-button {
  width: 44px;
  height: 40px;
  padding: 4px;
  transition: .25s;
  z-index: 15;
    margin: auto 0;
    overflow: hidden
}

header .mobile-nav .toggle-button:hover {
  cursor: pointer;
}

header .mobile-nav .toggle-button .menu-bar {
  border-radius: 2px;
  width: 80%;
  transition: .5s;
}

header .mobile-nav .toggle-button .menu-bar-top {
  border: 4px solid #ed4d12;
  border-bottom: none;
  top: 0;
}

header .mobile-nav .toggle-button .menu-bar-middle {
  height: 4px;
  background-color: #ed4d12;
  margin-top: 7px;
  margin-bottom: 7px;
  top: 4px;
}

header .mobile-nav .toggle-button .menu-bar-bottom {
  border: 4px solid #ed4d12;
  border-top: none;
  top: 22px;
}

header .mobile-nav .button-open .menu-bar-top {
  transform: rotate(45deg) translate(8px, 8px);
  transition: .5s;
}

header .mobile-nav .button-open .menu-bar-middle {
  transform: translate(230px);
  transition: .1s ease-in;
  opacity: 0;
}

header .mobile-nav .button-open .menu-bar-bottom {
  transform: rotate(-45deg) translate(8px, -7px);
  transition: .5s;
}
header .mobile-nav .slide-panel ul{
    margin-top: 20px
}
header .mobile-nav .slide-panel li {
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}
header .mobile-nav .slide-panel li:last-child{
        border-bottom: none;
    background: #ed4d12;
}
header .mobile-nav .slide-panel li:last-child a{
    color: #fff
}

header.logged .logged-name {
    display: inline-block !important;
    width: 210px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    position: relative
}
header.logged .logged-name .pic,
header.logged .logged-name .name{
    display: inline-block
}
header.logged .logged-name .pic img{
   width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
}
header.logged .logged-name .pic{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0,-50%);

}
header.logged .logged-name .name{
    padding-left: 30px;
    font-family: p-reg;
    font-size: 17px;
    color: #1A242E
}
header.logged .logged-name{
    background: #ECF0F1;
    border-radius: 25px;
}
header .login,
header .register,
header .logged-name{
    display: none;
}
{
    display: block
}

header.logged .login,
header.logged .register,
header .logged-name{
    display: none !important
}
/*End header style*/

/*Start Main Style*/
.filter-pg main .top-desc{
    margin-bottom: 30px;
    margin-top: 20px;
}
.filter-pg main .top-desc h1{
    color: #ed4d12;
    margin-bottom: 22px;
    font-size: 30px;
    font-weight: bold;
}
.filter-pg main .top-desc p{
        width: 600px;
    font-family: p-reg;
    color: #000;
    font-size: 22px;
}
.filter-pg main .filter .search-box{
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 10px 0 rgba(224, 224, 224, 0.2);
    border: solid 0.5px #ecf0f1;
    padding: 14.5px 23px;
    margin-bottom: 45px
}

.filter-pg main .filter .search-box label{
    font-family: p-sb;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.1px;
    display: block;
    font-size: 15px;
    color: #1a242e;
    margin-bottom: 4px;
}
.filter-pg main .filter .search-box input{
    border: none;
    color: #444;
    font-size: 14px;
    width: 100%;
    text-align: left;
    display: block;
    font-family: p-bold
}
.filter-pg main .filter .search-box input:focus{
    outline: none
}
.filter-pg main .select2-selection__arrow b{
    display:none !important;
}
.filter-pg main .select2-container--default .select2-selection--single{
    border: 0
}
.filter-pg main .select2-container--default .select2-selection--single .select2-selection__rendered{
    padding-left: 0;
    font-weight: bold;
    overflow: visible;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #ed4d12;
    color: white;
}
.select2-results__option[aria-selected]{
    margin-bottom: 5px
}

 .select2-container *:focus {
        outline: none;
    }

 span.select2-selection.select2-selection--single {
        outline: none;
    }

 [class^='select2'] {
  border-radius: 10px !important;
}
.filter-pg main .s-input {
    width: 100%;
    height: 100%
}
.filter-pg main .s-input button{
    height: 100%;
    width: 160px;
    background: #ed4d12;
    color: #fff;
    text-transform: uppercase;
    border-radius: 8px;
    border: 1px solid #ed4d12;
    font-size: 20px;
    transition: all .3s
}
.filter-pg main .s-input button:focus{
    outline: none
}
.filter-pg main .s-input button:hover{
    background: #fff;
    color: #ed4d12;
    cursor: pointer
}
.filter-content .pic{
    position: relative
}
/*
.filter-content .pic img{
    height: 500px;
    width: 100%;
    border-radius: 10px;
}
*/
 .pic img.poster{
        position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
    border-radius: 10px;
     object-fit: cover

}
 .pic video{
    height: 550px;
    width: 100%;
    object-fit: fill;
    border-radius: 10px;
     opacity: 0;
     visibility: visible
}

.filter-content .single{
    margin-bottom: 50px
}
.filter-content .single .modal-body video{
    width: 100%;
    height: 100%
}
 .video-play{
    position: absolute;
    bottom: 20px;
    left: 20px;

}
 .video-play span:nth-child(1){
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px

}
.video-play span i{
    color: #ed4d12;
    font-size: 11px
}
 .video-play span {
    display: inline-block;
}
 .video-play span > *{
    color: #fff
}
 .video-play span h6{
     font-size: 12px;
    font-family: p-light;
}
.filter-content .single .pic,
.single.video-sec pic{
    margin-bottom: 20px;
}


.filter-content .single .desc h5:nth-child(1){
        font-family: p-bold;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.6px;
    display: block;
    font-size: 15px;
    color: #95A5A6;
}
.filter-content .single .desc h5{
    font-size: 15px;
    color: #000;
    font-family: p-reg;
}
.filter-content .single .desc h4{
    font-size: 17px;
    margin: 8px 0;
    color: #34495E;
        font-family: p-med;
    font-weight: 600

}
.filter-content .rating .stars i,
.filter-content .rating .rating-num span{
    color: #34495e;
}
.filter-content .rating .rating-num,
.filter-content .rating .stars{
    display: inline-block
}
.filter-content .rating .rating-num span{
    font-size: 13px
}
.filter-content .rating .stars i{
    font-size: 18px;
    color: #FFCE00
}

/*End Main Style*/

/*Login Page Style*/

.login-register-pg .top-sec{
    position: relative;
    padding-bottom: 30px
}
.login-register-pg header:after{
    display: none
}
.login-register-pg .top-sec:after{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 120%;
    height: 2px;
    background:#ecf0f1;
    content: ''
}
.login-register-pg .top-sec:before{
    content: 'Or';
    position: absolute;
    left: 44%;
    bottom: -10px;
    width: 50px;
    height: 20px;
    background: #fff;
    z-index: 1;
    color: #95a5a6;
    text-align: center;
    border-radius: 40px;


}
.login-register-pg .top-sec h1{
    color: #ed4d12;
    font-weight: bold;
    margin: 20px 0 30px 0;


}
/*
.login-register-pg main > * {
    padding-left: 40px;
}
*/
.login-register-pg .top-sec .sign-options a{
    background: #518ef8;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 300px;
    margin: auto 0;
    color: #fff;
    border-radius: 8px;
    font-size: 17px;
    transition: all .3s;
    border: 1px solid;
    font-family: p-med;
}
.login-register-pg .top-sec .sign-options a:hover{
    border: 1px solid #518ef8;
    color: #518ef8;
    background: #fff;
    transition: all .3s

}
.login-register-pg .top-sec .sign-options a span{
    vertical-align: baseline;
    padding-right: 10px;

}
.login-register-pg .top-sec .sign-options a.facebook{
    background: #1973cb;
    border: 1px solid;
}
.login-register-pg .top-sec .sign-options a.facebook:hover{
    border: 1px solid #1973cb;
    color: #1973cb;
    background: #fff;
    transition: all .3s

}
.login-register-pg .mid-sec{
    margin-top: 40px;
    margin-bottom: 40px
}
.login-register-pg  .s-input label,
{
    color: #34495e;
    font-weight: 600;
    margin-bottom: 10px;

}
.login-register-pg  form input:not([type="checkbox"]){
    border: 1px solid #ecf0f1;
    border-radius: 10px;
    height: 50px;
    line-height: 50px;
    padding-left: 45px;
    width: 686px;
    transition: all .3s
}
.login-register-pg  form .reg-inp input{
    width: 303px;
}
.login-register-pg  form input:not([type="checkbox"]):focus{
    border: 1px solid #518ef8;
    transition: all .3s;
    outline: none
}

.login-register-pg  .inp{
    position: relative;
}
.login-register-pg  .inp img{
    position: absolute;
    left: 15px;
    top: 18px;
    width: 20px;
}
.login-register-pg  form .s-input .password a{
    position: absolute;
    right: 70px;
    top: 15px;
    display: inline;
    width: unset;
    color: #95a5a6;
    transition: all .3s
}
.login-register-pg  form .s-input .password a:hover{
    transition: all .3s;
    color: #000
}
.login-register-pg  form .s-input h5{
    font-size: 13px;
    margin-top: 15px;
    color: #34495e
}
.login-register-pg  form .s-input h5 a{
    display: inline;
    color: #ed4d12

}
.login-register-pg  form .s-input h5 a:hover{
    text-decoration: underline
}
.login-register-pg .bottom-sec{
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 0
}
.login-register-pg .checkbox {
    width: 100%;
    margin: 15px auto;
    position: relative;
    display: block;
}

.login-register-pg .checkbox input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    margin-left: -20px;
}
.login-register-pg .checkbox label {
    position: relative;
}
.login-register-pg .checkbox label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    transition: transform 0.28s ease;
    border-radius: 5px;
    border: 2px solid #ecf0f1;
}
.login-register-pg .checkbox label:after {
  content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid #ed4d12;
    border-left: 2px solid #ed4d12;
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    transition: transform ease 0.25s;
    will-change: transform;
    position: absolute;
    top: 8px;
    left: 7px;
}
.login-register-pg .checkbox input[type="checkbox"]:checked ~ label::before {
    color: #7bbe72;
}

.login-register-pg .checkbox input[type="checkbox"]:checked ~ label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.login-register-pg .checkbox label {
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 0;
    font-weight: normal !important;
    cursor: pointer;
    vertical-align: sub;
}
.login-register-pg .checkbox label span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.login-register-pg .checkbox input[type="checkbox"]:focus + label::before {
    outline: 0;
}


.login-register-pg .bottom-sec p{
    color: #34495e;
    font-size: 14px;
    padding-left: 17px

}
.login-register-pg .bottom-sec p a{
    display: inline-block;
    color: #ed4d12;
    font-weight: 600;
    width: unset
}
.login-register-pg .bottom-sec p a.proceed.reg{
    display: inline-block;
}
.login-register-pg .bottom-sec p a:hover{
    text-decoration: underline
}
.login-register-pg .bottom-sec .proceed{
        background: #ed4d12;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 300px;
    margin: auto 0;
    color: #fff;
    border-radius: 8px;
    font-size: 17px;
    border: 1px solid;
    transition: all .3s;
    text-transform: uppercase;
    font-family: p-med;
    cursor: pointer
}
.login-register-pg .bottom-sec .proceed:hover{
    border: 1px solid #ed4d12;
    background: #fff;
    color: #ed4d12;
    transition: all .3s
}
.login-register-pg .form-container{
    position: relative;
    padding-bottom: 100px
}
.login-register-pg .pic{
    height: 100%;
    width: 100%;
    position: relative;
}
.login-register-pg .pic img{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0


}
.login-register-pg .pic h1{
    position: absolute;
    bottom: 80px;
    width: 300px;
    color: #fff;
    left: 80px;
    z-index: 1;
    font-family: p-bold;
    font-size: 37px;
    line-height: 56px;
}
.login-register-pg video{
    height: 100%;
    border-radius: 0;
    width: 100%
}
.login-register-pg .video-play{
    bottom: 93px;
    right: 90px;
    left: unset;
}

.login-register-pg .video-play h5{
    font-size: 14px;
}
.login-register-pg .video-play h6{
    font-size: 12px
}



.login-register-pg .s-input{
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 30px;
}
.login-pg .s-input { /*in login page only!*/
    margin-bottom: 30px;
    padding-bottom: 0
}
.login-register-pg .s-input span.guide{
    color: #95a5a6;
    font-size: 12px
}
.login-register-pg .s-input.error span.guide{
    display: none !important
}
.login-register-pg .s-input span.error-msg{
    display: none;
}

.login-register-pg .s-input.error span.error-msg{
    position: absolute;
    display: block !important
}
.login-register-pg header{
    padding: 20px 0
}
.login-register-pg  form .s-input.error span{
    display: block !important;
    color: #dc4343;
    font-size: 12px;
    position: absolute;
    bottom: 6px
}
.login-register-pg form .s-input.error input:not([type="checkbox"]) {
    border-color: #dc4343;

}
.login-register-pg form .s-input label{
        margin-bottom: 5px;
    color: #34495E;
    font-family: p-med;
    font-size: 15px;
}

.login-register-pg .modal-body form  .verify-pic {
    width: 460px;
    height: 250px;
    margin: auto;
    overflow: hidden;
    position: relative
}
.login-register-pg .modal-body form  .verify-pic  img{
    max-width: 100%;
    max-height: 100%;

}
.login-register-pg .modal-container .modal-body form  h3{
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
    font-family: p-sb;
}
.login-register-pg .modal-container .modal-body form  p{
    font-family: p-reg;
    color: #34495e;
    text-align: center;
    margin-bottom: 25px;
    padding: 0 30px;
    font-size: 17px;
}
.login-register-pg .modal-container .modal-body form  .digits{
    text-align: center;
    margin-bottom: 25px
}
.login-register-pg .modal-container .modal-body form  .digits input{
        display: inline-block;
    width: 35px;
    height: 55px;
    background-color: #ecf0f1;
    border: none;
    border-radius: 5px;
    outline: none;
    text-align: center;
    font-family: p-med;
    color: #1a242e;
    font-size: 34px;
}
.login-register-pg .modal-container .modal-body form  .digits input:not(:last-of-type){
    margin-right: 10px
}
.login-register-pg .modal-container .modal-body form  .digits input:focus{
    outline: none
}
.login-register-pg .modal-container .modal-body form  .bottom h5{
    color: #34495e;
    font-size: 15px;
    font-family: p-reg;
    line-height: 22px;
    padding-right: 10px;

}
.login-register-pg .modal-container .modal-body form  .bottom h5 a{
    display: inline-block;
    color: #34495e;
    width: unset;
    color: #ed4d12;
    font-family: p-med
}
.login-register-pg .modal-container .modal-body form  .bottom h5 a:hover{
    text-decoration: underline
}
 .modal-container .modal  .modal-dialog{
    max-width: 700px;
}
 .modal-container .modal .modal-header{
    border-bottom: 0;
    padding: 10px 0 0 0;
}
 .modal-container .modal .modal-header button:focus{
    outline: none;
}

.modal-container .modal .modal-header button{
    outline: none
}
.modal-container .modal  .modal-dialog .modal-content{
    border-radius: 20px;
    padding: 10px 20px
}
.login-register-pg .forget-modal .modal-header{
    position: absolute;
    right: 20px;
}
.login-register-pg .forget-modal .modal-body{
    text-align: center
}
.login-register-pg .forget-modal .modal-body h6{
    color: #95a5a6;
    font-size: 12px;
    font-family: p-med;
    margin-bottom: 10px
}
.login-register-pg .forget-modal .modal-body h1{
    color: #ed4d12;
    margin-bottom: 20px;
    padding: 0 70px;
}
.login-register-pg .forget-modal .modal-body p{
    color: #34495e;
    margin-bottom: 20px;
}
.login-register-pg .forget-modal .modal-body a.proceed{
        display: inline-block;
    width: 250px;
    background: #ed4d12;
    color: #fff;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
}

/*End Login & Register Pages*/

/*Start Congrats Page*/
.congrats-pg section.congrats{
    margin: 50px 0
}
.congrats-pg .congrats-container h1{
    color: #1a242e;
    font-family: p-bold;
}
.congrats-pg .congrats-container h1 span{
    color: #ed4d12
}
.congrats-pg .congrats-container .congrats-pic {
    width: 400px;
    margin: 40px auto 40px auto;
    overflow: hidden;
    position: relative

}
.congrats-pg .congrats-container .congrats-pic img{
    max-width: 100%;
    max-height: 100%
}
.congrats-pg .congrats-container p{
    color: #34495e;
    font-family: p-reg;
    font-size: 18px;
    padding: 0 280px;
    margin-bottom: 30px
}
.congrats-pg .congrats-container a{
    color: #ed4d12;
    text-transform: uppercase;
    font-family: p-sb;
    display: inline-block;
    width: unset
}
.congrats-pg .congrats-container a:hover{
    text-decoration: underline
}
.congrats-pg .congrats-container .gify{
   position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1) translate(-50%);
}
/*End Congrats Page*/
/*Start Footer Style*/
footer.cpy-footer{

    display: block;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #e4e4e4;
}
footer.cpy-footer h5{
    color: #95a5a6;
    font-family: p-reg;
    font-size: 12px
}
/*End Footer Style*/
/*Verify Modal Animation*/
.login-register-pg .modal-body form .verify-pic #m-check-mark {
   width: 30px;
    height: auto;
    display: block;
    position: absolute;
    left: 56%;
    top: 49%;
    transform: translate(-50%,-50%);
    z-index: 99;
}

.login-register-pg .modal-body form .verify-pic #checkmark {
  stroke-dasharray: 640;
    stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: draw-around 3s infinite;
      -ms-animation: draw-around 3s infinite;
          animation: draw-around 3s infinite;
    animation-iteration-count: 1;
}
@-ms-keyframes draw-around {
  0% {
    stroke-dashoffset: 640;
  }
  10% {
    stroke-dashoffset: 640;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes draw-around {
  0% {
    stroke-dashoffset: 640;
  }
  10% {
    stroke-dashoffset: 640;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes draw-around {
  0% {
    stroke-dashoffset: 640;
  }
  10% {
    stroke-dashoffset: 640;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.login-register-pg .modal-body form .verify-pic .i-1{
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: static;
}
.login-register-pg .modal-body form .verify-pic .i-2{
        z-index: 1;
    left: 38%;
    top: 20%;
    transform: translate(-50%,-50%);
    width: 170px;
    -webkit-animation: spin 8s infinite linear;


}
.login-register-pg .modal-body form .verify-pic .i-3{
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.login-register-pg .modal-body form .verify-pic img{
    position: absolute;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
/*/Verify Modal Animation*/

/*STart Forget Style*/
.reset-pg form{
    width: 520px;
    margin: 40px auto 40px auto;
}
.reset-pg .bottom-sec{
    position: static;
    width: 100%;
    left: unset;
    bottom: unset;
    text-align: right
}
.reset-pg form h1 {
        color: #ed4d12;
    font-family: p-bold;
    margin-bottom: 40px;
}
.reset-pg form input:not([type="checkbox"]){
    width: 100%
}
.reset-pg form .password a {
    right: 20px !important
}
.reset-pg .reset-password{
    margin-bottom: 40px
}
/*End Forget Style */

/*Start homepage Style*/
.home-pg .owl-stage{padding-left:0px !important;}
.single.v-single .pic{
    position: relative
}
.home-pg.page-container{
    position: relative;
/*    overflow-x: hidden*/
}
.home-pg .overlay-header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px 0
}
header.overlay-header .mobile-nav .slide-panel{
    position: relative;
    background: #fff;
    z-index: 9
}
.home-pg .overlay-header .list-nav ul li a{
    color: #fff
}
.home-pg .overlay-header .list-nav ul li:last-child a{
    border: none;
    background: #ffffff2b;
    transition: all .3s
}
.home-pg .overlay-header .list-nav ul li:last-child:hover a {
    transition: all .3s;
    background: #fff;

}
.home-pg .overlay-header:after{
    display: none
}
.home-pg .hero{
    background-image: url(../imgs/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 721px;
    padding-top: 170px
}
.home-pg .hero img.poster,
.home-pg .hero video{
    height: 442px;
}
.home-pg .hero .right-sec .item{
    cursor: pointer
}
.home-pg .hero .left-sec{
    padding-left: 50px;
}
.home-pg .hero .left-sec h1{
    font-family: p-bold;
    color: #fff;
    font-size: 60px;
    padding-right: 130px;
    line-height: 90px;
}
.home-pg .hero .left-sec p{
    font-size: 22px;
    color: #fff;
    margin: 20px 0;
    line-height: 33px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    padding-right: 140px
}
.home-pg .hero .left-sec p span{
    font-weight: 900;
    font-family: dm-bold;
    font-size: 25px;
    vertical-align: baseline;
}
.home-pg .hero .left-sec a.explore{
    display: inline-block;
    width: 266px;
    height: 67px;
    line-height: 67px;
    text-align: center;
    border-radius: 8px;
    background: #fff;
    color: #ED4D12;
    font-family: p-med;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 20px;
    border: 1px solid #fff;
    transition: all .3s
}
.home-pg .hero .left-sec a.explore:hover{
    border-color: #ED4D12;
    background: transparent;
    color: #fff
}
.home-pg .what-to-do{
    margin: 60px 0 40px 0;
}
.home-pg .what-to-do h1{
    font-size: 37px;
    font-family: p-bold;
    color: #ED4D12;
    margin-bottom: 30px;

}
.home-pg .what-to-do p{
    color: #000000;
    font-size: 22px;
    font-family: p-reg;
    line-height: 38px;
    width: 665px;
    margin: auto;
}
.home-pg .category-row > h1 {
    font-family: p-sb;
    font-size: 32px;
    color: #1A242E;
    margin-bottom: 30px
}
.home-pg .app {
        background-color: #ED4D12;
    color: #fff;
    border-radius: 12px;
    margin-bottom: 50px
}
.home-pg .app .text-sec{
    padding-left: 80px;
}
.home-pg .app .text-sec h1{
    font-size: 37px;
    font-family: p-bold;
    line-height: 60px;
}
.home-pg .app .text-sec h1 span{
    display: block;
}
.home-pg .app .text-sec p{
    font-family: p-reg;
    font-size: 17px;
    line-height: 25.5px;
    margin: 20px 0;
}
.home-pg .app .text-sec ul li{
    display: inline-block;
}
.home-pg .app .text-sec ul li:not(:last-child){
    margin-right: 30px
}
.home-pg .apply-host{
    background: #1A242E;
    border-radius: 12px;
    color: #fff;
    margin-bottom: 50px
}
.home-pg .apply-host .right-sec{
    padding: 30px 0
}
.home-pg .apply-host .right-sec p{
    font-family: p-reg;
    font-size: 17px;
    width: 406px;
    margin: auto ;

}
.home-pg .apply-host .right-sec a {
    width: 294px;
    margin: 20px auto auto 130px;
    line-height: 50px;
    height: 50px;
    text-align: center;
    background: #2DC972;
    color: #fff;
    text-transform: uppercase;
    font-family: p-med;
    font-size: 17px;
    border-radius: 8px;
    border: 1px solid  #2DC972;
    transition: all .3s
}
.home-pg .apply-host .right-sec a:hover{
    border-color: #fff;
    color: #fff;
    transition: all .3s;
    background: transparent
}
.home-pg .apply-host  .text-sec{
    padding-left: 80px;
}
.home-pg .apply-host  .text-sec h1{
    font-size: 32px;
    font-family: p-bold;
    line-height: 52px;
}
.home-pg .apply-host  .text-sec h1 span{
    color: #2DC972;
    display: block;
}
header.logged .logged-name .hover{
    position: absolute;
    width: 100%;
    top: 0;
    border-radius: 25px;
    left: 0;
    z-index: 0;
    height: 100px;
    opacity: 0;
    transition: all .3s;
    background: #fff;
}
header.logged .logged-name .logged-container {
    position: relative;
    z-index: 9
}
header.logged .logged-name .hover > a{
        height: 100% !important;
    padding: 0 !important;
    border-radius: 25px !important;
    position: absolute !important;
    width: unset !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%,-50%) !important;
    transition: all .3s !important;
    color: #ED4D12 !important;
    display: inline-block
}
header.logged .logged-name .hover > a:hover{
    text-decoration: underline
}
header.logged .logged-name:hover .hover{
    opacity: 1;
    transition: all .3s
}
header.logged .logged-name:hover .hover > a {
        padding-top: 47px !important;
    transition: all .3s;
    background: #fff !important
}



/*End homepage Style*/

/*Start Main Footer*/
footer.main-footer{
    padding: 60px;
    position: relative;
    border-top: 1px solid #ECF0F1;
}
footer.main-footer .logo-sec{
    text-align: center;
}

footer.main-footer .logo-sec h6{
    font-family: p-reg;
    font-size: 10px;
    color: #95A5A6;
    margin-top: 15px
}
footer.main-footer .box ul li{
    font-family: p-reg;
    font-size: 13px;
}
footer.main-footer .box ul li a{
    display: inline;
    width: unset;
    color: #34495E;
    font-family: p-reg;

}
footer.main-footer .box ul li a:hover{
    text-decoration: underline
}
footer.main-footer .box ul li h1{
    font-size: 15px;
    color: #ED4D12;
    font-family: p-med;
    font-weight: bold
}
footer.main-footer .box ul li:not(:last-child){
    margin-bottom: 15px;
}
footer.main-footer .box{
        width: 150px;
    margin: 0 auto;
}
footer.main-footer .social span a i {
    font-size: 20px;
    color: #ED4D12;
}
footer.main-footer .social span:not(:last-of-type) a i{
    margin-right:10px
}
/*End Main Footer*/

/*Start profile page style*/
.profile-pg .profile-sec .top-sec h1{
    font-family: p-bold;
    font-size: 37px;
    color: #ED4D12

}
.profile-pg .profile-sec .name{
        border: 1px solid #ECF0F1;
    padding: 20px;
    border-radius: 12px;
    margin-top: 30px;
}
.profile-pg .profile-sec .left li{
    display: inline-block
}
.profile-pg .profile-sec .left li img{
    width: 100%;
    height: 100%;
        border-radius: 50%;

}
.profile-pg .profile-sec .left li:nth-child(1){
    width: 65px;
    height: 65px;
    background: #000;
    border-radius: 50%
}
.profile-pg .profile-sec .left li:nth-child(2){
    margin-left: 10px
}
.profile-pg .profile-sec .left li:nth-child(2) h2{
    font-size: 17px;
    font-family: p-sb;
    color: #34495E
}
.profile-pg .profile-sec .left li:nth-child(2) h4{
    font-size: 13px;
    font-family: p-reg;
    color: #34495E;
    margin-top: 10px
}
.profile-pg .profile-sec .right li{
    display: inline-block
}
.profile-pg .profile-sec .right li h6{
    font-family: p-reg;
    font-size: 13px;
    color: #95A5A6;
    margin-bottom: 5px
}
.profile-pg .profile-sec .right li:nth-child(1){
    margin-right: 30px
}
.profile-pg .profile-sec .right li:nth-child(1) h5{
    color: #2C3E50;
    font-size: 15px;
    font-family: p-sb
}
.profile-pg .profile-sec .right li:nth-child(2) h5{
    width: 58px;
    height: 19px;
    line-height: 19px;
    border-radius: 20px;
    background: #76C258;
    text-align: center
}
.profile-pg .profile-sec .right li:nth-child(2) h5 span{
    font-size: 10px;
    font-family: p-reg;
    color: #fff
}
.profile-pg .middle-sec{
margin-top: 40px}
.profile-pg .middle-sec h4{
    font-family: p-sb;
    color: #1A242E;
    font-size: 17px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 30px
}
.profile-pg .middle-sec h4 a{
    position: absolute;
    right: 0;
    top: 0;
    color: #ED4D12;
    font-family: p-sb;
    font-size: 15px;
    width: unset

}
.profile-pg .middle-sec h4 a:hover{
    text-decoration: underline
}
.profile-pg .middle-sec .data-view{
    position: relative
}
.profile-pg .middle-sec div.data-view:not(:last-of-type){
    padding-bottom: 30px
}
.profile-pg .middle-sec div.data-view:not(:last-of-type):after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #ECF0F1;
    bottom: 15px;
    left: 0
}
.profile-pg .middle-sec .data-view .infos img,
.profile-pg .middle-sec .data-view .infos .text{
    display: inline-block
}
.profile-pg .middle-sec .data-view .infos .text span{
    display: block
}
.profile-pg .middle-sec .data-view .infos img{
    margin-right: 10px;
   width: 20px;
    height: 20px;
    object-fit: contain;
}
.profile-pg .middle-sec .data-view .infos .text span:nth-child(1){
    color: #95A5A6;
    font-family: p-reg;
    font-size: 13px;
}
.profile-pg .middle-sec .data-view .infos .text span:nth-child(2){
     color: #34495E;
    font-family: p-med;
    font-size: 15px;
}
.profile-pg .middle-sec .data-container{
        border: 1px solid #ECF0F1;
    border-radius: 12px;
    padding: 20px 0 20px 30px;
}
.profile-pg .bottom-sec{
    margin-top: 40px;
}
.profile-pg .bottom-sec h4{
        font-family: p-sb;
    color: #1A242E;
    font-size: 17px;
    text-transform: uppercase;
    position: relative;

}
.profile-pg .progress{
    height: 10px;
    margin-top: 20px;
    margin-bottom: 30px
}
.profile-pg .progress .progress-bar{
    background: #76C258;
    border-radius: .25rem;
}
.profile-pg .bottom-sec .single-row{
    padding: 20px;
    border: 1px solid #ECF0F1;
    border-radius: 12px;
    position: relative;
    transition: all .3s
}
.profile-pg .bottom-sec .single-row:hover {
    background: #ED4D12;
    transition: all .3s;
    cursor: pointer
}
.profile-pg .bottom-sec .single-row:hover h5{
    color: #fff;
    transition: all .3s
}
.profile-pg .bottom-sec .single-row:hover img.ico{
    filter: brightness(0) invert(1);
    transition: all .3s
}
.profile-pg .bottom-sec .single-row:hover h5 span{
    color: #fff;
    transition: all .3s
}
.profile-pg .bottom-sec .single-row:hover .icon{
    background: #fff;
    transition: all .3s
}

.profile-pg .bottom-sec div.single-row:not(:last-of-type){
        margin-bottom: 30px;

}
.profile-pg .bottom-sec .single-row img,
.profile-pg .bottom-sec .single-row h5{
    display: inline-block
}
.profile-pg .bottom-sec .single-row h5{
    font-family: p-sb;
    font-size: 17px;
    text-transform: uppercase
}
.profile-pg .bottom-sec .single-row h5 span{
    display: block;
    font-size: 13px;
    color: #95A5A6;
    text-transform: capitalize;
    font-family: p-reg;
    margin-top: 10px
}
.profile-pg .bottom-sec .single-row img.ico{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    object-fit: contain;
    transition: all .3s
}
.profile-pg .bottom-sec .single-row .icon{
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #ECF0F1;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0,-50%);

}
.profile-pg .bottom-sec .single-row .icon i{
    color: #95A5A6;
    font-size: 12px;
    transition: all .3s
}
.profile-pg .bottom-sec .single-row .icon.checked{
    background: #76C258;
    color: #fff;
    transition: all .3s
}
.profile-pg .bottom-sec .single-row .icon.checked i{
    color: #fff;
    transition: all .3s
}
.profile-pg .saved-cards{
    margin-top: 40px;
}
.profile-pg .saved-cards > h4{
    font-family: p-sb;
    color: #1A242E;
    font-size: 17px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 30px;
}
.profile-pg .saved-cards ul li{
    width: 295px;
    background: #34495E;
    color: #fff;
    padding: 20px 15px;
    border-radius: 8px;
    display: inline-block

}
.profile-pg .saved-cards ul li:not(:last-child){

    margin-right: 15px;
}
.profile-pg .saved-cards ul li .card-logo img{
    width: 28px;
    margin-right: 5px;
}
.profile-pg .saved-cards ul li .card-logo span{
    font-family: p-med;
    font-size: 10px;
    text-transform: uppercase
}
.profile-pg .saved-cards ul li .delet a{
    width: unset;
    color: #fff;
    font-family: p-reg;
    font-size: 13px;
}
.profile-pg .saved-cards ul li .delet a:hover{
    text-decoration: underline
}
.profile-pg .saved-cards ul li .acc-number h2{
    font-family: p-med;
    font-size: 17px;
    margin-top: 40px;
    margin-bottom: 15px;
    letter-spacing: 3px
}
.profile-pg .saved-cards ul li .acc-name{
    font-family: p-reg;
    font-size: 13px;
    text-transform: uppercase
}
.profile-pg .saved-cards ul li .date{
    font-family: p-reg;
    font-size: 10px;
    margin: auto 0
}
.profile-pg .top-sec,
.profile-pg .middle-sec,
.profile-pg .bottom-sec{
    padding-right: 183px
}
.profile-pg .earn-sec h4{
    font-family: p-sb;
    color: #1A242E;
    font-size: 17px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 30px;
}
.profile-pg .earn-sec .content{
    border: 1px solid #ECF0F1;
    border-radius: 10px;
}
.profile-pg .earn-sec .earn-container{
padding: 0 30px
}
.profile-pg .earn-sec .earn-container .pic{
    margin: 40px 0
}
.profile-pg .earn-sec .earn-container .pic img{
    max-height: 100%;
    width: 100%
}
.profile-pg .earn-container .text-sec h1{
    font-family: p-bold;
    font-size: 17px;
    margin-bottom: 20px;
    padding: 0 40px;
    line-height: 28px
}
.profile-pg .earn-container .text-sec h6{
    margin-bottom: 20px;
    font-family: p-reg;
    font-size: 13px;
    line-height: 22px;
        padding: 0 30px;
}
.profile-pg .earn-container .coupon{
    padding: 10px 20px;
    border: 4px dashed #95a5a66b;
    border-radius: 8px;
    margin-bottom: 15px
}

.profile-pg .earn-container .coupon a{
    width: unset;
    text-transform: uppercase;
    font-family: p-sb;
    font-size: 15px;
    color: #ED4D12
}
.profile-pg .earn-container .coupon .code{
    color: #34495E;
    font-size: 15px;
    font-family: p-sb;
    text-transform: uppercase;
    margin: auto 0
}
.profile-pg .earn-container hr{
    border-top-color: #ECF0F1
}
.profile-pg  .earn-footer{
    padding: 0 30px 20px 30px
}

.profile-pg  .earn-footer  h5{
    font-size: 13px;
    font-family: p-reg;
    color: #34495E;
    line-height: 22px;
}
.profile-pg  .earn-footer  h5 a{
    width: unset;
    color: #ED4D12;
    display: inline-block;
    font-family: p-med
}
.profile-pg  .earn-footer  h5 a:hover{
    text-decoration: underline
}
.profile-pg  .earn-footer   h5 span{
    display: block;
    font-family: p-reg;
    font-size: 10px;
    color: #95A5A6
}
.profile-pg .modal-body {
    text-align: center
}
.profile-pg .modal-body .sub-title{
    color: #95A5A6;
    font-size: 13px;
    font-family: p-med;
    text-transform: uppercase
}
.profile-pg .modal-body .head-title{
    color: #ED4D12;
    font-family: p-bold;
    font-size: 37px;
    margin-bottom: 20px;
    text-transform: capitalize
}
.profile-pg .modal-body .image-preview{
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    background: #ECF0F1;
    margin: auto auto 30px auto
}
.profile-pg .modal-body .image-preview img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}
.profile-pg .modal-body .paragraph{
    font-family: p-reg;
    font-size: 15px;
    margin-bottom: 40px;
    color: #34495E;
    line-height: 22.5px;
    padding: 0 110px;
}
.profile-pg .set-pic input{
    display: none
}
.profile-pg .set-pic form label{
    width: 100%;
    text-transform: uppercase;
    border-radius: 8px;
    border: 1px solid #ED4D12;
    font-family: p-med;
    font-size: 17px;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: relative

}

.profile-pg .set-pic form label[for='openCamera']{
    color: #ED4D12;
    transition: all .3s;
    text-align: center
}
.profile-pg .set-pic form label[for='openCamera']:active,
.profile-pg .set-pic form label[for='openCamera']:hover{
    background: #ED4D12;
    color: #fff;
    transition: all .3s
}

.profile-pg .set-pic form label[for='upload']{
    color: #fff;
    transition: all .3s;
    background: #ED4D12;
    text-align: center
}
.profile-pg .set-pic form label[for='upload']:active,
.profile-pg .set-pic form label[for='upload']:hover{
    background: #fff;
    color: #ED4D12;
    transition: all .3s
}
.profile-pg .select2-selection__rendered {
    line-height: 50px !important;
    padding-left: 20px !important
}
.profile-pg .select2-container .select2-selection--single {
    height: 50px !important;
    background: #ECF0F1;
    border: none
}
.progile-pg .select2-selection__arrow {
    height: 49px !important;
}
.profile-pg [class^='select2'] {
    border-radius: 8px !important
}
.profile-pg .select2-container--default .select2-selection--single .select2-selection__rendered{
    text-align: left
}
.profile-pg .modal form label{
    color: #34495E;
    font-family: p-med;
    font-size: 15px;
    margin-bottom: 8px;
    text-align: left;
    display: block
}
.profile-pg .set-country .location{
    margin-top: 30px;
}
.profile-pg .set-country .location a.allow{
    color: #ED4D12;
    text-align: center;
    font-family: p-med;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    width:unset;
}
.profile-pg .set-country .location a.allow:hover{
    text-decoration: underline
}
.profile-pg .set-country .location a.confirm{
        background: #ECF0F1;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: p-med;
    font-size: 17px;
    color: #95A5A6;
    transition: all .3s
}
.profile-pg .set-country .location a.confirmed{
    background: #ED4D12;
    color: #fff;
    transition: all .3s
}
.profile-pg .select2-container--default .select2-selection--single .select2-selection__arrow b{
    background-image: url(http://127.0.0.1:58775/imgs/down-arrow.png) !important;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: none !important;
    height: 20px !important;
    width: 20px !important;
    margin: auto !important;
    top: 20px;
    left: -20px!important;
    transition: all .3s

}
.profile-pg .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
        transform: rotate(180deg);
    top: 10px;
    transition: all .3s
}
.profile-pg .set-language .select2-container--default .select2-selection--multiple{
    height: 200px;
    border: 1px solid #ECF0F1
}
.profile-pg .set-language .select2-container--focus{
    border: 1px solid #ED4D12
}
.profile-pg .select2-container--default .select2-search--inline .select2-search__field{
    width: 100% !important;
}
.profile-pg .set-language .select2-container--default .select2-selection--multiple .select2-selection__choice{
    width: 92px;
    height: 31px;
    line-height: 31px;
    border-radius: 4px !important;
    font-family: p-reg;
    font-size: 13px;
    padding-right: 15px;
    background-color: #F0F8FF;
    border: none;
    color: #34495E;
    position: relative;
    margin-top: 20px
}
.profile-pg .set-language .select2-container--default .select2-selection--multiple .select2-selection__choice span{
    position: absolute;
    right: 10px
}
.profile-pg .set-language .add-language,
.profile-pg .set-birth .add-birth{
    width: 100%;
    text-transform: uppercase;
    border-radius: 8px;
    border: 1px solid #ED4D12;
    font-family: p-med;
    font-size: 17px;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: relative;
    background: #ED4D12;
    color: #fff;
    margin-top: 20px
}
.profile-pg .set-language .add-language:focus,
.profile-pg .set-birth .add-birth:focus{
    outline: none;
}
.profile-pg .set-language .add-language:hover,
.profile-pg .set-birth .add-birth:hover{
    background: #fff;
    color: #ED4D12;
    transition: all .3s
}
.profile-pg .set-birth form{
    padding: 0 100px;
}
.profile-pg .set-birth .no-gutters{
    padding: 0
}
.profile-pg .set-birth .no-gutters button{
    margin-top: 30px
}
@keyframes jump {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.jump {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}


/*End profile page style*/
/*Start Experience Page Style*/
.exp-pg .exp-sec .title{
    margin-bottom: 40px
}
.exp-pg .exp-sec .title h1{
    font-family: p-bold;
    font-size: 37px;
    color: #1A242E;
    display: inline-block;
    margin-right: 15px
}
.exp-pg .exp-sec .title .badge{
    background: #76C258;
    color: #fff;
    text-transform: uppercase;
    padding: 8px;
    font-family: p-med;
    font-size: 10px;
    margin-right: 15px
}
.exp-pg .exp-sec .title .stars i{
    color: #FFCE00;
}
.exp-pg .exp-sec .videos{
    margin-bottom: 50px
}
.exp-pg .exp-sec .info .box{
    border: 1px solid #ECF0F1;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px
}
.exp-pg .exp-sec .info .box ul li:nth-child(1){
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin-right: 15px;
}
.exp-pg .exp-sec .info .box ul li img{
    max-width: 100%;
    max-height: 100%;

}
.exp-pg .exp-sec .info .box ul li h6{
    color: #95A5A6;
    text-transform: capitalize;
    font-size: 13px;
    font-family: p-reg;
}
.exp-pg .exp-sec .info .box ul li h6 span{
    display: block;
    color: #34495E;
    font-family: p-sb;
    font-size: 17px;
    margin-top: 8px
}
.exp-pg .exp-sec .exp-desc{
    margin-top: 50px;
    margin-bottom: 50px
}
.exp-pg .exp-sec  .desc-title span{
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ECF0F1;
    box-shadow: 0 4px 16px #00000014;
    position: relative
}
.exp-pg .exp-sec  .desc-title span img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 18px;
    height: 18px;
    object-fit: cover
}
.exp-pg .exp-sec .desc-title h1{
    color: #1A242E;
    text-transform: capitalize;
    margin-left: 15px;
    font-size: 22px;
    font-family: p-sb;
    line-height: 33px
}
.exp-pg .exp-sec .desc-title{
    margin-bottom: 15px
}
.exp-pg .exp-sec .exp-desc p,
.exp-pg .exp-sec .steps  p{
     color: #34495E;
    font-size: 17px;
    font-family: p-reg;
    line-height: 33px;
}
.exp-pg .exp-sec .steps{
    margin-bottom: 50px
}

.exp-pg .exp-sec .steps  p{
    margin-bottom: 40px
}
.exp-pg .exp-sec .steps ul li{
    position: relative;
}
.exp-pg .exp-sec .steps ul li:not(:last-child):after{
    height: 100%;
/*    border: 5px dotted green;*/
/*    background: red;*/
    left: 21px;
    top: 0;
    position: absolute;
    content: '';
    background-image: url('../imgs/line.png');
    background-repeat: no-repeat;
    background-size: auto;
    width: 2px;
    z-index: 0
}
.exp-pg .exp-sec .steps .step-container .num{
 width: 43px;
    height: 43px;
    line-height: 43px;
    background: #34495E;
    text-align: center;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
    z-index: 1
}
.exp-pg .exp-sec .steps .step-container .num span{
    color: #fff;
    font-family: p-sb;
    font-size: 17px;
}
.exp-pg .exp-sec .steps .step-container .step h4{
    color: #34495E;
    font-family: p-sb;
    font-size: 17px;
    margin-bottom: 15px;
}
.exp-pg .exp-sec .steps .step-container .step p{
    font-family: p-reg;
    font-size: 15px;
    color: #34495E;
    line-height: 27px;

}
.exp-pg .exp-sec .nearest-dates > h6,
.exp-pg .exp-sec .reviews .host-sec > h6,
.exp-pg .exp-sec .reviews .reviews-sec h6,
.exp-pg .exp-sec .map-location h6,
.exp-pg .exp-sec .our-gallery h6{
    color: #1A242E;
    font-family: p-sb;
    font-size: 17px;
    margin-bottom: 15px;
    text-transform: uppercase
}
.exp-pg .exp-sec .nearest-dates .box{
    border: 1px solid #ECF0F1;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
}
.exp-pg .exp-sec .nearest-dates .box h2,
.exp-pg .exp-sec .nearest-dates .box span{
    color: #2C3E50;
    font-family: p-sb;
    font-size: 17px;
}
.exp-pg .exp-sec .nearest-dates .box h6{
    color: #95A5A6;
    font-size: 15px;
    font-family: p-reg;
    display: block
}
.exp-pg .exp-sec .nearest-dates .box span,
.exp-pg .exp-sec .nearest-dates .box h6{
    margin-top: 5px
}
.exp-pg .exp-sec .nearest-dates .box .icon{
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    position: relative
}
.exp-pg .exp-sec .nearest-dates .box .icon span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 15px;
    font-family: p-med;
    color: #34495E;
    margin-top: 3px
}

.exp-pg .exp-sec .nearest-dates .box .d-flex > div.d-block{
    margin-left: 20px
}
.exp-pg .exp-sec .nearest-dates .book{
    width: 100%;
    height: 50px;
    line-height: 48px;
    text-align: center;
    background: #34495E;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-family: p-med;
    border-radius: 8px;
    border-color: #34495E;
    margin-top: 20px;
    cursor: pointer;
    transition: all .3s

}
.exp-pg .exp-sec .nearest-dates .book:focus{
    outline: none;
}
.exp-pg .exp-sec .nearest-dates .book:hover{
    background: transparent;
    color: #34495E;
    transition: all .3s
}

.exp-pg .exp-sec .reviews {
    margin-top: 50px
}
.exp-pg .exp-sec .reviews .host-sec .user-pic{
    width: 37px;
    height: 37px;
    line-height: 37px;
    border-radius: 6px;
    margin-right: 15px
}
.exp-pg .exp-sec .reviews .host-sec .user-pic img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 6px
}
.exp-pg .exp-sec .reviews .host-sec .user-name-role h4{
    color: #000;
    margin-bottom: 5px;
    font-size: 15px;
    font-family: p-med;
    text-transform: capitalize
}
.exp-pg .exp-sec .reviews .host-sec .user-name-role h5{
    color: #95A5A6;
    font-family: p-reg;
    font-size: 13px;
}
.exp-pg .exp-sec .reviews .host-sec p{
    color: #34495E;
    font-family: p-reg;
    font-size: 17px;
    line-height: 33px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.exp-pg .exp-sec .reviews .reviews-sec .s-review{
    padding-bottom: 30px;
    position: relative
}
.exp-pg .exp-sec .reviews .reviews-sec .s-review .user-pic{
     width: 37px;
    height: 37px;
    line-height: 37px;
    border-radius: 50%;
    margin-right: 15px
}
.exp-pg .exp-sec .reviews .reviews-sec .s-review .user-pic img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}
.exp-pg .exp-sec .reviews .reviews-sec .s-review .user-details h4{
    color: #1A242E;
    font-family: p-reg;
    font-size: 15px;
}
.exp-pg .exp-sec .reviews .reviews-sec .s-review .user-details .stars{
    font-size: 15px;
    margin-top: 8px
}
.exp-pg .exp-sec .reviews .reviews-sec .s-review .user-details .excerpt{
    font-family: p-sb;
    font-size: 15px;
    color: #1A242E;
    margin-top: 8px
}
.exp-pg .exp-sec .reviews .reviews-sec .s-review .user-details p{
    color: #34495E;
    font-size: 15px;
    font-family: p-reg;
    margin-top: 10px;
}
.exp-pg .exp-sec .reviews .reviews-sec .s-review .time{
    position: absolute;
    right: 0;
    top: 0;
    color: #95A5A6;
    font-size: 13px;
    font-family: p-reg
}

.exp-pg .exp-sec .lightbox
{

  opacity: 0;
    visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);

}

.exp-pg .exp-sec .lightbox div
{
 position: relative;
 margin: auto auto;
}
.exp-pg .exp-sec .lightbox:target
{
display: flex;
     opacity: 1;
    visibility: visible;
    transition: all .3s
}
.exp-pg .exp-sec .map-location {
    border-radius: 10px;
    margin-bottom: 40px
}
.exp-pg .exp-sec .map-location iframe{
    border-radius: 10px;
}
.exp-pg .exp-sec .map-location h4{
    color: #34495E;
    font-family: p-reg;
    font-size: 15px;
    margin-top: 10px

}
.exp-pg .exp-sec .our-gallery {
    width: 280px;
}
.exp-pg .exp-sec .our-gallery .big-pic{
    width: 100%;
    height: 442px;
    border-radius: 12px;
    margin-bottom: 20px;
}
.exp-pg .exp-sec .our-gallery .big-pic img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px
}
.exp-pg .exp-sec .our-gallery .small-pic{
    height: 84px;
    border-radius: 8px;

}
.exp-pg .exp-sec .our-gallery .small-pic img{
    max-width: 100%;
    height: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px
}
.exp-pg .exp-sec .our-gallery .col-4,
.exp-pg .exp-sec .our-gallery .col-12{
    padding-right: 0
}
/*End Experience Page Style*/
